body{
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:center;
	padding:20px 0px;
}
	body div{
		width:150px;
		margin:20px;
	}
		.d1,.d2,.d3{
			border:1px solid #f00;
		}
		.d1{
			height:120px;
		}
		.d2{
			height:100px;
		}
		.d3{
			height:40px;
		}
		.d4{
			height:200px;
			border:1px solid #0f0;
		}