body{
	background-color:#eee;
	border:1px solid #999;
}
#left,#middle,#right{
	border:1px solid #999;
	padding:20px;
	margin:20px;
	background-color:white;
	box-shadow: 1px 3px 6px 4px #999 ;
}
/*s1配置*/
#left {
	float:left;
	width:200px;
}
#left img{
	width:100px;
	height:80px;
}
#left .groupName{
	float:right;
}
/*s2配置*/
#middle{
	margin:20px 200px 0 280px;
}
/*s3配置*/
#right{
	float:right;
	width:120px;
}
#right img{
	float:left;
	clear:both;
	width:100px;
	height:100px;
	padding:20px;
}