/*body样式*/
body {
	background-color:rgb(222,222,222);
	margin:0;
	padding:0;
	width:1340px;
}

/*header样式*/
header {
	background-color:rgb(50,50,50);
	height:20mm;
}
header img{
	float:left;
	magin-left:1em;
	height:20mm;
}
header ul{
	float:right;
	list-style-type:outside none disc;
}
header ul li{
	display:inline-block;
	padding:12px 10px;
	float:left;
}
header ul li a:link,a:visited{
	font-weight:bold;
	color:#FFFFFF;
}
header ul li a:hover,a:active{
	color:#909090;
}
/*totalSection样式*/
#totalSection{
	float:left;
	width:800px;
}
/*Secton 样式*/
section{
	background-color:rgb(255,255,255);
	margin:25px;
	padding:20px ;
	box-shadow:2px 5px 7px #aaaaaa;
	width:700px;
}

/*section 标题,段落样式*/
section h2,h3,h4{
	font-family:Georgia;
	font-style:normal;
	font-weight:bold;
}
section h2{
	font-size:30px;
}
section h3{
	font-size:20px;
	color:rgb(120,120,120);
}
section  h4{
	font-size:10px;
	color:#aaaaaa; 
}
section p{
	text-indent:2em;
}
section p a:link,a:visited{
	color:black;
}
section p a:hover,a:active{
	color:red;
}

/*图片样式*/
section.picture ul li{
	border:1px solid black;
	margin:30px;
	float:left;
	/*clear:both;*/
	padding:20px;
}
section.picture ul p{
	text-align: center;
}
section.picture img{
	width:100px;
	height:80px;
}

/*表格样式*/
table{
	width:100%;
	border-collapse:collapse;
	border:gray;
}
table th{
	height:30px;
	background-color:black;
	color:white;
}
table td{
	text-align: center;
}
table tr.last td{
	background-color:gray;
	font-weight:bold;
}

/*注册兰样式*/
#register{
	float:right;
	width:400px;
}

.h2{
	border-left:4px solid rgb(200,200,200);
	height:2em;
}
.h2 h2{
	font-size:20px;
}
.email{
	margin-left:0px;
	margin-bottom:30px;
}
.email .ew{
	margin-left:130px;
	margin-top:20px;
	font-size:15px;
	color:gray;
}

.password {
	margin-left:0px;
	margin-bottom:30px;
}
.password .pw{
	margin-left:130px;
	margin-top:20px;
	font-size:15px;
	color:gray;
}
.discovery{
	margin-left:0px;
	margin-bottom:30px;
}

.textarea{
	margin-left:87px;
}

/*按钮样式*/
.button{
	width:100%;
	height:40px;
	background-color:rgb(0,0,240);
	color:white;
	font-size:20px;
	border-radius:10px;
}

/*footer样式*/
footer{
	width:100%;
	height:5em;
	background-color:rgb(50,50,50);
	color:white;
	text-align:center;
}
.back{
	text-align:center;
}
.back a:link,a:visited{
	color:white;	
}