
.row div{
	box-sizing:border-box;/*边框宽度和内边距决定内元素的高和宽*/
	padding:10px;
	float:left;
	
}
.row >div>div{
	background-color:#eee;
	border:1px solid #999;
	height:30px;
	width:100%;
}

@media screen and (min-width:768px){/*根据媒体类型选择显示方式,screen可以变为all等其他媒体类型*/
	.col-md-1{
		width:8.333333333%;
	}
	.col-md-2{
	width: 16.66666667%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.33333333%;
	}
	.col-md-5{
		width: 41.66666667%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.33333333%;
	}
	.col-md-8{
		width: 66.66666667%;
	}
	.col-md-9{
		width:75%;
	}
	.col-md-10{
		width:83.33333333%;
	}
	.col-md-11{
		width:91.66666667%;
	}
	.col-md-12{
		width:100%;
	}
}

@media screen and (max-width:768px){
	.col-sm-1{
		width:8.333333333%;
	}
	.col-sm-2{
	width: 16.66666667%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.33333333%;
	}
	.col-sm-5{
		width: 41.66666667%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.33333333%;
	}
	.col-sm-8{
		width: 66.66666667%;
	}
	.col-sm-9{
		width:75%;
	}
	.col-sm-10{
		width:83.33333333%;
	}
	.col-sm-11{
		width:91.66666667%;
	}
	.col-sm-12{
		width:100%;
	}
}