/*body样式*/
body{
	width:1300px;
	height:3000px;;
	margin:0px;
}

/*header样式*/
header{
	width:100%;
	height:60px;
	/* border:1px solid red; */
	background-color:rgb(255,255,255);
	position:fixed;
	right:0px;
	top:0px;
	margin:0px;
}
	/*headL样式*/
	.headL {
		width:125px;
		height:60px;
		margin:0px;
		position:absolute;
		left:50px;
		top:0px;
	}
		.headL img{
			margin-top:0px;
		}
		.headL p{
			position:absolute;
			right:3px;
			top:-6px;
			font:normal normal 22px "Microsoft YaHei"
		}
	/*headR样式*/
	.headR{
		width:700px;
		height:60px;
		margin:0px;
		position:absolute;
		right:0px;
		top:0px;
		/* border:1px solid red; */
	}
		.headR ul{
			height:60px;
			list-style-type:none;
			position:absolute;
			left:30px;
			top:2px;
			padding:0;
		}
			.headR li{
				padding:20px 0 20px 0;
				display:inline;
				margin-left:0px;
				/* border:1px solid red; */
			}
				.headR li a{
					font:normal normal 15px "SimHei";
					color:#A0A0A0;
					padding:20px;
					/* border:1px solid red; */
				}
					.headR li a:link,a:visited{
						text-decoration:none;
					}
					.headR li a:hover,a:active{
						border-bottom: 5px solid #E7504D;
						color:#E7504D;
						margin-bottom:2px;
					}
		
		.bording {
			display:flex;      /*flex分栏式布局。*/
			align-items:center;/*弹性盒子元素适用于flex容器，center使两个元素均位于中轴线。此两行的代码使得图像和<a>标签可以对齐*/
			position:absolute;
			width:100px;
			height:50px;
			right:50px;
			top:2px;
			text-decoration:none;
		}

/* section_1样式 */
#section_1{
	width:100%;
	height:700px;
	border:1px solid white;
	margin-top:60px;
	background-image:url(./img/section1.png);/*背景图片的设置*/
	background-repeat:no-repeat;
	background-size:cover;
}
	#section_1 .text{
		margin-left:120px;
		color:white;
	}
		.text .p1{
			font:normal normal 60px "Microsoft YaHei";
			margin:200px 0 10px -10px;
		}
		.text .p2{
			font:normal normal 20px "Microsoft YaHei";
			line-height:30px;
		}
		.text button{
			width:350px;
			height:60px;
			line-height:60px;
			font:normal bold 20px "Microsoft YaHei";
			background-color:#e74f4d;
			color:white;
			border:none;
			margin-top:50px;
			cursor: pointer;/*使button可以点击*/
		}

/*section_2样式*/
#section_2{
	width:100%;
	
	margin:80px 0 80px 0px;
	display:flex;/*真心好使*/
}	
	#section_2 div{
		width:25%;
		text-align:center;
	}
		#section_2 div .pic2{
			padding-bottom:10px;
		}
		#section_2 div .pic3{
			padding:10px 0 10px 0;
		}
		#section_2 div p{
			border-right:2px solid #767777;
			padding-bottom:20px;
			font:normal normal 15px "SimHei";
			color:#767777;
		}
		
/*section_3样式*/
#section_3{
	width:100%;
	padding:100px 0;
	display:flex;
	flex-direction:column;
	text-align:center;
	background-color:#ededec;
	color:#a1a1a1;
}
	#section_3 p{
		font:normal normal 50px "SimHei";
		margin-bottom:-30px;
	}
	
/*section_4样式*/
#section_4{
	width:100%;
	padding:20px 0;
	display:flex;
	flex-direction:column;
	text-align:center;
	background-image:url(./img/section4.png);
	background-size:cover;
	color:white;
}
	#section_4 .p1{
		font:normal 100 24px "SimHei";
		font-weight:100;
		margin-bottom:10px;
	}
	#section_4 .p2{
		font:normal normal 14px "SimHei";
		font-weight:100;
		margin-bottom:45px;
	}
	#section_4 .line{
		width:2%;
		border:1px solid white;
		margin-left:49%;
		margin-bottom:10px;
	}
	#section_4 form{
		margin-left:40px;
		margin-bottom:100px;
	}
	/* #section_4 form .seleBG{
		/* float:left; */
		/* height:50px; */
		/* width:315px; */
		/* padding-left:20px;*/
		/* border:1px solid red; */
	 
		#section_4 form .seleHD{
			float:left;
			height:40px;
			width:250px;
			background:url(img/section4_sl.png)no-repeat right #fff;
			overflow: hidden;
			/* padding-right:0px; */
			/* border:1px solid green; */
			margin-left:50px;
		}
			#section_4 form .seleBG select{
				background: transparent;/*使背景可以现出来*/
				width: 250px;
				padding: 10px;
				font-size: 16px;
				color:#a8aaaa;
				border: 1px solid #ccc;
				height: 40px;
				-webkit-appearance: none; /*for chrome*//* 可以去掉那个小箭头，很关键 */
				/* border:1px solid blue; */
			}
		#section_4 form button{
			height:40px;
			width:250px;
			font:normal bold 20px "Microsoft YaHei";
			background-color:#e74f4d;
			color:white;
			border:none;
			cursor: pointer;
			margin-left:-50px;
		}

/*section5样式*/
#section_5{
	width:100%;
	text-align:center;
	background-color:#f7f7f7;
	overflow:hidden;/*使外框包围float,话说clear：both；应该有用，不知道出啥问题。。。*/
}	
	#section_5   div{
		float:left;
		margin:100px 20px 0px;
	}
		#section_5 p{
		font:normal normal 12px "Microsoft yahei";
		color:#575858;
		}
			#section_5 .title{
				font:normal normal 30px "SimHei";
				color:black;
				line-height:5px;
				margin-bottom:0px;
				word-spacing:10px;/*为啥没用*/
			}
			
/*section6样式*/
#section_6{
	width:100%;
	height:1150px;
}
	#section_6 .first_B{
		height:600px;
	}
		#section_6 .first_B .leftB{
			width:65%;
			height:600px;
			float:left;
			background-image:url(./img/section6_1.png);
			background-size:cover;
			display:flex;
			flex-direction:column;
			text-align:center;
			color:white;
		}
			#section_6 .first_B .leftB p{
				margin-top:150px;
				margin-bottom:-160px;
				font-size:48px;
			}
			#section_6 .first_B .leftB h1{
				font:normal normal 145px "Microsoft yahei";
				margin-bottom:0px;
			}
			#section_6 .first_B .leftB i{
				font:normal bold 24px "SimSun";
				line-height:40px;
			}
		#section_6 .first_B .rightB{
			width:35%;
			height:500px;
			float:right;
			display:flex;
			flex-direction:column;
			text-align:center;
			background-image:url(./img/section6_2.png);
			background-size:cover;
		}
			#section_6 .first_B .rightB h2{
				margin-top:150px;
				margin-bottom:20px;
				font:normal bold 25px "SimSun";
			}
				#section_6 .first_B .rightB h2 i{
					color:#e74f4d;
					font-style:normal;
				}
			#section_6 .first_B .rightB p{
				color:#b7b7b7;
				padding-top:15px;
				font:normal normal 12px "SimSun";
				text-align:left;
				margin-left:80px;
				line-height:30px;
			}
			#section_6 .first_B .rightB button{
				background-color:white;
				border:1px solid #e74f4d;
				color:#e74f4d;
				padding:10px 30px;
				margin-top:50px;
			}
	#section_6 .second_B{
		width:100%;
		height:550px;
	}
		#section_6 .second_B .leftTB{
			width:65%;
			height:550px;
			float:left;
		}
			#section_6 .second_B .leftTB .lr,.rw{
				width:50%;
				height:550px;
				background-color::#e74f4d;
				float:left;
				display:flex;
				flex-direction:column;
				text-align:center;
			}
				#section_6 .second_B p{
					margin-top:180px;
					font:normal normal 21px "Microsoft yahei";
					line-height:30px;
				}
				#section_6 .second_B button{
					width:40%;
					margin-left:30%;
					padding:8px 20px;
					background-color:transparent;
					font:normal normal 21px "Microsoft yahei";
				}
					#section_6 .second_B .leftTB .lr{
						background-color:#e74f4d;
						color:white;
					}
					#section_6 .second_B .leftTB .lr div{
						width:8%;
						margin-left:46%;
						border:1px solid white;
						margin-bottom:30px;
					}
					#section_6 .second_B .leftTB .lr button{
						border:1px solid white;
						color:white;
					}
					#section_6 .second_B .leftTB .rw div{
						width:8%;
						margin-left:46%;
						border:1px solid gray;
						margin-bottom:30px;
					}
					#section_6 .second_B .leftTB .rw button{
						border:1px solid #e74f4d;
						color:#e74f4d;
					}
		#section_6 .second_B .rightOB{
			width:35%;
			height:550px;
			float:right;
			background-image:url(./img/section6_3.png);
			background-size:cover;
		}
/* section7样式 */
#section_7{
	width:100%;
	height:800px;
}
	#section_7 .s7top{
		width:100%;
		height:300px;
		display:flex;
		flex-direction:column;
		text-align:center;
	}
		#section_7 .s7top h1{
			font:normal bold 23px "SimSun";
			color:#323333;
			margin-bottom:10px;
			margin-top:100px;
		}
		#section_7 .s7top div{
			border:1px solid #e74f4d;
			width:2%;
			margin-left:49%;
			margin-top:0px;
		}
		#section_7 .s7top p{
			font:normal normal 13px "SimSun";
			color:#b7b7b7;
		}
	#section_7 .s7left{
		width:40%;
		height:500px;
		float:left;
	}
		#section_7 .s7left div{
			margin-left:140px;
			margin-bottom;20px;
		}
			#section_7 .s7left div h2{
				font:normal 500 16px "SimHei";
				color:#807c7c;
				line-height:40px;
			}
			#section_7 .s7left div p{
				font:normal normal 12px "SimSun";
				color:#b7b7b7;
			}
			#section_7 .s7left div a {
				margin-left:245px;
			}
	#section_7 .s7right{
		width:50%;
		height:500px;
		float:left;
	}
		#section_7 .s7right .basic{
			width:100%;
			height:110px;
			margin-top:20px;
		}
			#section_7 .s7right .basic input{
				float:left;
				margin-left:10px;
				width:40%;
				height:20px;
				background-color: #ededee;
				border:none;
				padding:10px 20px;
				margin:8px;
			}
		#section_7 .s7right .content{
			width:100%;
			height:120px;
			margin-top:10px;
		}
			#section_7 .s7right .content input{
				margin:8px;
				width:92%;
				height:110px;
				background-color: #ededee;
				border:none;
				padding-left:20px;
			}
			#section_7 .s7right .press button{
				width:95%;
				height:45px;
				margin:20px 8px;
				background-color: #ededee;
				border:none;
			}
/* footer样式 */
footer {
	width:100%;
	height:420px;
}
	footer .ftTop{
		width:100%;
		height:350px;
		display:flex;
		flex-direction:column;
		text-align:center;
		background-image:url(./img/footerBG.png);
		background-size:cover;
		color:white;
	}
		footer .ftTop h1{
			font-size:21px;
			margin-top:100px;
			margin-bottom:-5px;
		}
		footer .ftTop p{
			font-size:12px;
			line-height:21px;
		}
			footer .ftTop span input{
				width:430px;
				height:35px;
				padding-left:10px;
			}
			footer .ftTop span button{
				width:80px;
				height:42px;
				margin-left:-8px;
				background-color:#6f7178;
				border:none;
				color:white;
				font-size:16px;
			}
			footer .ftTop div{
				margin-top:30px;
			}
	footer .ftBottom{
		width:100%;
		height:70px;
		background-image:url(./img/footerSBG.png);
		background-size:cover;
		border:none;
	}
		footer .ftBottom p{
			float:left;
			margin-left:100px;
			margin-top:30px;
			color:#fff;
			font-size:12px;
		}
		footer .ftBottom a{
			float:right;
			margin-right:40px;
			margin-top:30px;
			text-decoration:none;
			color:#fff;
			font-size:12px;
		}